.container__header {
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 785px;
    padding-inline: 50px;
    padding-block-start: 16px;
    background-color: #fff;
}

.logo {
    font-weight: 100;
}




.svg-icon {
    width: 40px;
    height: 25px;
    cursor: pointer;
}


#arrow-form {
    display: none;
}

.arrow {
    position: absolute;
    left: 27%;
    width: 45px;
    height: 45px;
}

.svg-icon--create-pdf {
    width: 40px;
    height: 40px;
}

.svg-icon--get-pdf {
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
}

.info-completed {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-weight: bold;
    color: green;
}

.menu {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

