.container__header {
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 785px;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container__header a {
    text-decoration: none;
    color: inherit;
}