<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Invoicer</title>
    <style>

    </style>
</head>

<body>
    <div class="container">
        <h1>invoice</h1>
        <form action="/form/" method="post">
            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Number</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-number" name="invoice_number" placeholder="invoice number"
                        value="{{invoice_number}}">
                </div>
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Date</h2>
                </div>
                <div class="field">
                    <input type="date" id="invoice-date" name="invoice_date" placeholder="invoice date"
                        value="{{invoice_date}}">
                </div>
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Pay type</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-pay-type" name="invoice_pay_type" placeholder="invoice pay type"
                        value="{{invoice_pay_type}}">
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Account number</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-account-number" name="invoice_account_number"
                        placeholder="Invoice account number" value="{{invoice_account_number}}">
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Seller name</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-seller-name" name="invoice_seller_name"
                        placeholder="Invoice seller name" value="{{invoice_seller_name}}">
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Seller address</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-seller-address" name="invoice_seller_address"
                        placeholder="Invoice seller address" value="{{invoice_seller_address}}">
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Seller nip</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-seller-nip" name="invoice_seller_nip"
                        placeholder="Invoice seller nip" value="{{invoice_seller_nip}}">
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Buyer name</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-buyer-name" name="invoice_buyer_name"
                        placeholder="Invoice buyer name" value="{{invoice_buyer_name}}">
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Buyer address</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-buyer-address" name="invoice_buyer_address"
                        placeholder="Invoice buyer address" value="{{invoice_buyer_address}}">
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Buyer nip</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-buyer-nip" name="invoice_buyer_nip" placeholder="Invoice buyer nip"
                        value="{{invoice_buyer_nip}}">
                </div class="fields-container">
            </div>


            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Specification</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-specification" name="invoice_specification"
                        placeholder="Invoice specification" value="{{invoice_specification}}">
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Classification</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-classification" name="invoice_classification"
                        placeholder="Invoice classification" value="{{invoice_classification}}"><br>
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Unit measure</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-unit-measure" name="invoice_unit_measure"
                        placeholder="Invoice unit measure" value="{{invoice_unit_measure}}"><br>
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Hour rate</h2>
                </div>
                <div class="field">
                    <input type="number" id="invoice-hour-rates" name="invoice_hour_rates"
                        placeholder="Invoice hour rates" value="{{invoice_hour_rates}}" min="1" max="999"><br>
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Hour number</h2>
                </div>
                <div class="field">
                    <input type="number" id="invoice-hours-number" name="invoice_hours_number"
                        placeholder="Invoice hours number" value="{{invoice_hours_number}}" min="1" max="999"><br>
                </div class="fields-container">
            </div>

            <div class="fields-container">
                <div class="field field--gray">
                    <h2>Currency</h2>
                </div>
                <div class="field">
                    <input disabled type="text" id="invoice-currency" name="invoice_currency"
                        placeholder="Invoice currency" value="PLN"><br>
                </div class="fields-container">
            </div>
            <button type="submit">Create PDF</button>
        </form>
    </div>
</body>

</html>