<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoicer</title>
</head>

<body>
    <h1>invoice</h1>
    <form action="/form/" method="post">
        <label for="invoice-number">Number</label>
        <input type="text" id="invoice-number" name="invoice_number" placeholder="invoice number" value="{{invoice_number}}"><br>

        <label for="invoice-date">Date</label>
        <input type="date" id="invoice-date" name="invoice_date" placeholder="invoice date" value="{{invoice_date}}"><br>

        <label for="invoice-pay-date">Pay date</label>
        <input type="date" id="invoice-pay-date" name="invoice_pay_date" placeholder="invoice pay date" value="{{invoice_pay_date}}"><br>

        <label for="invoice-pay-type">Pay type</label>
        <input type="text" id="invoice-pay-type" name="invoice_pay_type" placeholder="invoice pay type" value="{{invoice_pay_type}}"><br>

        <label for="invoice-account-number">Account number</label>
        <input type="text" id="invoice-account-number" name="invoice_account_number"
            placeholder="Invoice account number" value="{{invoice_account_number}}"><br>

        <label for="invoice-seller-name">Seller name</label>
        <input type="text" id="invoice-seller-name" name="invoice_seller_name" placeholder="Invoice seller name" value="{{invoice_seller_name}}"><br>

        <label for="invoice-seller-address">Seller address</label>
        <input type="text" id="invoice-seller-address" name="invoice_seller_address"
            placeholder="Invoice seller address" value="{{invoice_seller_address}}"><br>

        <label for="invoice-seller-nip">Seller nip</label>
        <input type="text" id="invoice-seller-nip" name="invoice_seller_nip" placeholder="Invoice seller nip" value="{{invoice_seller_nip}}"><br>

        <label for="invoice-buyer-name">Buyer name</label>
        <input type="text" id="invoice-buyer-name" name="invoice_buyer_name" placeholder="Invoice buyer name" value="{{invoice_buyer_name}}"><br>

        <label for="invoice-buyer-address">Buyer address</label>
        <input type="text" id="invoice-buyer-address" name="invoice_buyer_address"
            placeholder="Invoice buyer address" value="{{invoice_buyer_address}}"><br>

        <label for="invoice-buyer-nip">Buyer nip</label>
        <input type="text" id="invoice-buyer-nip" name="invoice_buyer_nip" placeholder="Invoice buyer nip" value="{{invoice_buyer_nip}}"><br>

        <label for="invoice-specification">Specification</label>
        <input type="text" id="invoice-specification" name="invoice_specification"
            placeholder="Invoice specification" value="{{invoice_specification}}"><br>

        <label for="invoice-classification">Classification</label>
        <input type="text" id="invoice-classification" name="invoice_classification"
            placeholder="Invoice classification" value="{{invoice_classification}}"><br>

        <label for="invoice-unit-measure">Unit measure</label>
        <input type="text" id="invoice-unit-measure" name="invoice_unit_measure" placeholder="Invoice unit measure" value="{{invoice_unit_measure}}"><br>

        <label for="invoice-hour-rates">Hour rate</label>
        <input type="number" id="invoice-hour-rates" name="invoice_hour_rates" placeholder="Invoice hour rates"
            value="{{invoice_hour_rates}}" min="1" max="999"><br>

        <label for="invoice-hours-number">Hour number</label>
        <input type="number" id="invoice-hours-number" name="invoice_hours_number" placeholder="Invoice hours number"
            value="{{invoice_hours_number}}" min="1" max="999"><br>

        <label for="invoice-currency">Currency</label>
        <input disabled type="text" id="invoice-currency" name="invoice_currency" placeholder="Invoice currency" value="PLN"><br>


        <input type="submit" value="send">
    </form>
</body>

</html>