{% block content %}
<header class="container__header">
    <h1 class="logo"><a href="/">Invoicer</a></h1>
    <nav>
        <ul class="menu">
            <li><a href="/login">Loguj</a></li>
            <li><a href="/register">Rejestracja</a></li>
        </ul>
    </nav>
</header>
{% endblock %}