{% set page_context= "invoice_form" %}
{% include "base.jinja" %}

{% block content %}
    <div class="container container--top-big-margin">
        <form id="pdf-creation-form" action="/form/" method="post">
            <div class="fields-container--horizonal fields-container--padding-left">
                <div class="field--gray field--large">
                    <h2 class="field-invoice--bold">{{invoice_fields.invoice_number.value}}</h2>
                </div>
                <div class="field field--large">
                    <input class="field-invoice--bold" type="text" id="invoice-number" name="invoice_number" placeholder="invoice number"
                        value="{{latest_invoice["invoice_number"]}}">
                </div>
            </div>
            <div class="fields-container--horizonal fields-container--padding-left">
                <div class="field--gray">
                    <h2>{{invoice_fields.invoice_date.value}}</h2>
                </div>
                <div class="field">
                    <input type="date" id="invoice-date" name="invoice_date" placeholder="invoice date"
                        value="{{latest_invoice["invoice_date"]}}">
                </div>
            </div>
            <div class="fields-container--horizonal fields-container--padding-left">
                <div class="field--gray">
                    <h2>{{invoice_fields.invoice_pay_date.value}}</h2>
                </div>
                <div class="field">
                    <input type="date" id="invoice-pay-date" name="invoice_pay_date" placeholder="invoice pay date"
                        value="{{latest_invoice["invoice_pay_date"]}}">
                </div>
            </div>

            <div class="fields-container--horizonal fields-container--padding-left">
                <div class="field--gray">
                    <h2>{{invoice_fields.invoice_pay_type.value}}</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-pay-type" name="invoice_pay_type" placeholder="invoice pay type"
                        value="{{latest_invoice["invoice_pay_type"]}}">
                </div>
            </div>

            <div class="fields-container--horizonal fields-container--padding-left">
                <div class="field--gray field--border-bottom">
                    <h2>{{invoice_fields.invoice_account_number.value}}</h2>
                </div>
                <div class="field field--border-bottom">
                    <input type="text" id="invoice-account-number" name="invoice_account_number"
                        placeholder="Invoice account number" value="{{latest_invoice["invoice_account_number"]}}">
                </div>
            </div>

            <div class="horizontal-empty-space"></div>

            <div class="fields-container--horizonal">
                <div class="field--gray">
                    <h2>{{invoice_fields.invoice_seller_name.value}}</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-seller-name" name="invoice_seller_name"
                        placeholder="Invoice seller name" value="{{latest_invoice["invoice_seller_name"]}}">
                </div>
            </div>

            <div class="fields-container--horizonal">
                <div class="field--gray">
                    <h2>{{invoice_fields.invoice_seller_address.value}}</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-seller-address" name="invoice_seller_address"
                        placeholder="Invoice seller address" value="{{latest_invoice["invoice_seller_address"]}}">
                </div>
            </div>

            <div class="fields-container--horizonal">
                <div class="field--gray">
                    <h2>{{invoice_fields.invoice_seller_nip.value}}</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-seller-nip" name="invoice_seller_nip"
                        placeholder="Invoice seller nip" value="{{latest_invoice["invoice_seller_nip"]}}">
                </div>
            </div>

            <div class="fields-container--horizonal">
                <div class="field--gray">
                    <h2>{{invoice_fields.invoice_buyer_name.value}}</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-buyer-name" name="invoice_buyer_name"
                        placeholder="Invoice buyer name" value="{{latest_invoice["invoice_buyer_name"]}}">
                </div>
            </div>

            <div class="fields-container--horizonal">
                <div class="field--gray">
                    <h2>{{invoice_fields.invoice_buyer_address.value}}</h2>
                </div>
                <div class="field">
                    <input type="text" id="invoice-buyer-address" name="invoice_buyer_address"
                        placeholder="Invoice buyer address" value="{{latest_invoice["invoice_buyer_address"]}}">
                </div>
            </div>

            <div class="fields-container--horizonal">
                <div class="field--gray field--border-bottom">
                    <h2>{{invoice_fields.invoice_buyer_nip.value}}</h2>
                </div>
                <div class="field field--border-bottom">
                    <input type="text" id="invoice-buyer-nip" name="invoice_buyer_nip" placeholder="Invoice buyer nip"
                        value="{{latest_invoice["invoice_buyer_nip"]}}">
                </div>
            </div>

            <div class="horizontal-empty-space"></div>

            <div class="invoice-specs">
                <div>
                    <div class="field--gray--columns field--gray--columns__on">
                        <h2>{{invoice_fields.invoice_order_number.value}}</h2>
                    </div>
                    <div class="field--column field--column__on field--border-left field--border-bottom">
                        <input disabled type="text" id="invoice-specification" name="invoice_specification"
                            placeholder="Invoice specification" value="1">
                    </div>
                </div>
                <div>
                    <div class="field--gray--columns field--column__specification field--border-left-none">
                        <h2>{{invoice_fields.invoice_specification.value}}</h2>
                    </div>
                    <div class="field--column field--column__specification field--border-bottom">
                        <textarea rows="4" cols="50" id="invoice-specification" name="invoice_specification"
                            placeholder="Invoice specification">{{latest_invoice["invoice_specification"]}}</textarea>
                    </div>
                </div>
                <div>
                    <div class="field--gray--columns field--column__classification field--border-left-none ">
                        <h2>{{invoice_fields.invoice_classification.value}}</h2>
                    </div>
                    <div class="field--column field--column__classification  field--border-bottom">
                        <input type="text" id="invoice-classification" name="invoice_classification"
                            placeholder="Invoice classification" value="{{latest_invoice["invoice_classification"]}}"><br>
                    </div>
                </div>

                <div>
                    <div class="field--gray--columns field--column__unit-measure--wider field--border-left-none">
                        <h2>{{invoice_fields.invoice_unit_measure.value}}</h2>
                    </div>
                    <div class="field--column field--column__unit-measure--wider  field--border-bottom ">
                        <input type="text" id="invoice-unit-measure" name="invoice_unit_measure"
                            placeholder="Invoice unit measure" value="{{latest_invoice["invoice_unit_measure"]}}"><br>
                    </div>
                </div>
                <div>
                    <div class="field--gray--columns field--column__horizontal__hour-rates field--border-left-none ">
                        <h2>{{invoice_fields.invoice_hour_rates.value}}</h2>
                    </div>
                    <div class="field--column field--column__horizontal__hour-rates  field--border-bottom">
                        <input type="number" id="invoice-hour-rates" name="invoice_hour_rates"
                            placeholder="Invoice hour rates" value="{{latest_invoice["invoice_hour_rates"]}}" min="1" max="999"><br>
                    </div>
                </div>
                <div>
                    <div class="field--gray--columns field--column__hours-number field--border-left-none ">
                        <h2>{{invoice_fields.invoice_hours_number.value}}</h2>
                    </div>
                    <div class="field--column field--column__hours-number  field--border-bottom">
                        <input type="number" id="invoice-hours-number" name="invoice_hours_number"
                            placeholder="Invoice hours number" value="{{latest_invoice["invoice_hours_number"]}}" min="1" max="999"><br>
                    </div>
                </div>
            </div>
                 <div class="sign-fields-container">
                <div class="sign-field-container">
                    <input class="invoice-signature invoice-signature--left invoice-signed" type="text" id="invoice-signature-left" name="invoice_signature_left"
                        placeholder="podpis" value="{{latest_invoice["invoice_signature_left"]}}"><br>
                    <p>imię i nazwisko osoby</p>
                    <p>upoważnionej do wystawienia faktury</p>
                </div>
                <div class="sign-field-container">
                    <input class="invoice-signature invoice-signature--right invoice-signed" type="text" id="invoice-signature-right" name="invoice_signature_right"
                        placeholder="podpis" value="{{latest_invoice["invoice_signature_right"]}}">
                        <br>
                    <p>imię i nazwisko osoby</p>
                    <p>upoważnionej do odbioru faktury</p>
                </div>

            </div>
            
        </form>
    </div>
{% endblock %}