<form id="loginForm" method="POST" action="/token">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
</form>

<script>
    document.getElementById('loginForm').onsubmit = async function (event) {
        event.preventDefault(); 
        const formData = new FormData(this);

        const response = await fetch(this.action, {
            method: 'POST',
            body: formData,

        });

        const data = await response.json(); // Assuming the response contains the token
        console.log("data", data)
        const token = data.access_token;
        window.location.href = '/';
        sessionStorage.setItem('token', token);
        

        headers: {
            'Authorization': `Bearer ${token}`
        }



    };

</script>