 <div class="container">
        <form id="loginForm" method="POST" action="/token">
            <div class="fields-container--vertical">
                <label for="username" class="field--gray">Username:</label>
                <input type="text" id="username" name="username" required class="field">

                <label for="password" class="field--gray">Password:</label>
                <input type="password" id="password" name="password" required class="field">
            </div>
            <div class="button-container">
                <button type="submit" class="button--create-pdf">Login</button>
            </div>
        </form>
    </div>

<script>
    document.getElementById('loginForm').onsubmit = async function (event) {
        event.preventDefault(); 
        const formData = new FormData(this);

        const response = await fetch(this.action, {
            method: 'POST',
            body: formData,

        });

        const data = await response.json(); // Assuming the response contains the token
        console.log("data", data)
        const token = data.access_token;
        window.location.href = '/';
        sessionStorage.setItem('token', token);
        

        headers: {
            'Authorization': `Bearer ${token}`
        }



    };

</script>