{% include "base.jinja" %}

{% block content %}
<div class="container__auth--background">
    <div class="container__auth">
        <form id="loginForm" method="POST" action="/register">
            <div class="fields__auth-container--vertical">
                <label for="username" class="field__auth--gray">Użytkownik:</label>
                <input type="text" id="username" name="username" required class="field__auth">

                <label for="password" class="field__auth--gray">Hasło:</label>
                <input type="password" id="password" name="password" required class="field__auth">
            </div>
            <div class="button-container">
                <button type="submit" class="button--create-pdf">Utwórz użytkownika</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}